/* Add CSS Styling */
button {
    outline: auto;
    outline-color: black;
    font-size: 28px;
    font-family: 'Helvetica', Times New Roman, sans-serif;
}

#butblack {
    color: white;
    background-color: black;
}

#butyellow {
    background-color: yellow;
}